.tooltip {
    position: relative;
    font-size: 15px;
    font-family: system-ui;
    font-weight: bold;
    text-align: center;
    color: #101d52;
    background: #fafadb;
    height: 22px;
    width: 520px;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    pointer-events: none;
}